<mat-toolbar *ngIf="user$ | async as user">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    Jey's Slack-clone
    <button mat-button [matMenuTriggerFor]="userMenu">
        <img [src]="user.photoURL ?? 'assets/img/avatar.webp'">
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        <button mat-menu-item (click)="openDialog()">Edit profile</button>
    </mat-menu>
</mat-toolbar>

<div class="mainPage flex">

    <mat-drawer-container autosize>
        <mat-drawer #drawer [opened]="true" mode="side">

            <div class="channels">
                <div class="flex top">
                    <p>Channels</p>
                    <button class="addBtns" (click)="openDialog()" mat-fab>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <div class="direktMessages">
                <div class="flex top">
                    <p>Direktmessages</p>
                    <button class="addBtns" (click)="openDialog()" mat-fab>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>


        </mat-drawer>




    </mat-drawer-container>















</div>